/* 프리텐다드 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 지마켓 산스 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('../fonts/GmarketSansMedium.otf') format(opentype);
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('../fonts/GmarketSansBold.otf') format(opentype);
}
/* 변수 */
:root{
  --dark-black :#333333;
  --dim-black : #555555;
  --silver-black : #777777;
  --light-black : #999999;
  --dark-gray : #BDBDBD;
  --dim-gray : #DDDDDD;
  --silver-gray : #EEEEEE;
  --light-gray : #F5F5F5;
  --cloudy-gray : #F9F9F9;
  --white: white;
  --mainBlue : #164387;
  --orange : #FF8D23;
  --lightblue : #CCE3FF;
  --darkblue: #445164;
  --notice-ra: 20px 20px 0px 0px;
  --commu-ra: 0 20px 0 20px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4{margin: 0;}
a{text-decoration: none;}
ul, li{list-style: none;
margin: 0;}
/*  */

/* common */
.headline-share{
  text-align: center;
}
.headline-share h3{
  font-size: 32px;
  font-family: 'GmarketSansBold';
  color: var(--mainBlue);
}
.headline-share p{
  margin: 10px 0 30px;
  font-size: 16px;
  color: var(--dim-black);
  font-weight: 500;
}

/* layout */
body{
  width: 100%;
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 400;
}
.inner{
  width: 1280px;
  margin: 0 auto;
}
