@media (max-width:768px) {
  .inner{
    width: 100%;
  }
 /* 헤더 */
  header{
    height: 70px;
    position: absolute;
    padding-top: 20px;
  }
  .link_on{
    display: none;
  }
  .header_menu h1{
    width: 258px;
    height: 70px;
    left: -3%;
  }
  header nav{
    display: none;
  }
  .overlay{width: 100%; height: 100%;}
  .mobile_menu_wrap{display: block;}

  /* 검색창 */
  .search-wrap{
    position: fixed;
    top: 70px;
    right: -600px;
    width: 70%;
    left: auto;
  }
  .search-wrap.active{
    position: absolute;
    top: 70px;
    right: 0px;
  }
  .search-cont{
    background-color: var(--orange);
    border-radius: 0 0 0 30px;
  }
  #topSearchForm{
    width: 90%;
    background-color: white;
    border: none;
  }
  input[name=searchKey]{
    width: 100%;
  }
  
  /* 컨텐츠 */
  .container_wrap{
    width: 100%;
    padding-top: 70px;
  }
  /* svisual */
  .svisual_wrap img{
    height: 150px;
  }
  /* 콘텐츠 네비 */
  .cont_navi_wrap{
    display: none;
  }
  .contents{
    padding: 0 5%;
    width: 100%;
    margin: 0 auto;
  }
  /* 가이드맵 */
  .guide_map{
    width: 100%;
    margin-top: 30px;
  }
  .guide_map img{
    height: 360px;
  }
  .guide_map div{
    font-size: 15px;
    white-space: nowrap;
  }
  .guide_map div em{
    font-size: 10px;
  }
  .guide_map div.active{
    font-size: 17px;
    font-weight: 600;
    padding: 8px;
  }
  .guide_map div.active em{
    font-size: 12px;
  }
  .guide_map .item01{
    top: 60%;
    left: 79%;
  }
  .guide_map .item02{
    top: 60%;
    left: 56%;
  }
  .guide_map .item03{
    top: 38%;
    left: 74.5%;
  }
  .guide_map .item04{
    top: 74%;
    left: 56%;
  }
  .guide_map .item05{
    top: 75%;
    left: 30%;
  }
  .guide_map .item06{
    top: 64%;
    left: 37%;
  }
  .guide_map .item07{
    top: 49%;
    left: 67%;
  }
  .guide_map .item08{
    top: 62%;
    left: 1%;
  }
  .guide_map .item09{
    top: 40%;
    left: 2%;
  }
  .guide_map .item10{
    top: 26%;
    left: 82%;
  }
  .guide_map .item11{
    top: 19%;
    left: 67%;
  }
  .guide_map .item12{
    top: 31%;
    left: 52.5%;
  }
  .guide_map .item13{
    top: 19%;
    left: 43%;
  }
  .guide_map .item14{
    top: 53%;
    left: 10%;
  }
  .guide_map .item15{
    top: 5%;
    left: 33%;
  }

  /* 가이드 공지 */
  .guide_notice{
    margin-top: 20px;
  }

  .guide_notice span{
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .guide_notice button{
    display: block;
    margin-bottom: 10px;
  }
  /* 모달창 */
  .modal_exit .close_modal{
    width: 40px;
    height: 40px;
    top: 10%;
  }
  .modal_exit .img_box{
    margin-top: 200px;
    width: 95%;
  }
  /* 가이드 리스트 */
  .guide_list{
    grid-template-columns: repeat(3, 1fr);
  }
  .guide_list>li>a{
    font-size: 18px;
  }
  .guide_list li.item05, .guide_list li.item10{
    border-right: 1px solid #C0c0c0;
  }
  .guide_list li.item03, .guide_list li.item06,
  .guide_list li.item09, .guide_list li.item12{
    border-right: none;
  }
  .guide_list>li>a{
  }
  /* 푸터 */
  .footer_nav ul li{
    font-size: 16px;
  }
  .footer_sns ul{
    margin-left: 0;
  }
  .footer_sns ul li{
    margin: 0 50px;
  }
  .footer_sns ul li a{
    font-size: 0;
  }
  .footer_sns ul li a em{
    left: 0;
  }
  .footer_logo{
    margin-left: 20px;
  }
  .family_site{
    width: 40%;
    margin-right: 6px;
  }
  #sel_family{
    width: 80%;
  }
  .family_site #open_site{
    width: 20%;
  }  
}

@media (max-width:420px) {
  /* 헤더 */
  .header_menu h1{
    width: 210px;
    height: 50px;
  }
  .header_menu h1 img{
    width: 100%;
    height: 100%;
  }
  /* svisual */
  .svisual_wrap img{
    height: 100px;
  }
  .svisual_wrap h3{
    font-size: 30px;
  }
  /* 가이드맵 */
  .guide_map{
    width: 100%;
    margin-top: 30px;
  }
  .guide_map img{
    height: 205px;
  }
  .guide_map div{
    /* display: none; */
    font-size: 10px;
    padding: 3px;
    border: 1px solid var(--white);
  }
  .guide_map div em{
    font-size: 9px;
    padding-left: 3px;
  }
  /* 모달 */
  .modal_exit .close_modal{
    top: 18%;
  }
  .modal_exit .img_box{
    padding: 10px;
  }
  .modal_exit .img_box img{
    transform: scale(1.1);
  }
  /* .active */
  .guide_map div.active{
    font-size: 12px;
    font-weight: 400;
    padding: 3px;
    border: 1px solid var(--white);
    transform: translate(0, 0);
  }
  .guide_map div.active em{
    font-size: 9px;
  }
  .guide_list>li>button{
    padding: 3px 4px;
    bottom: 5px;
    right: 5px;
  }
  .guide_list>li>button>a{
    color: var(--white);
    font-size: 12px;
  }
  

  /* 가이드 리스트  */
  .guide_list{
    grid-template-columns: repeat(2, 1fr);
  }
  .guide_list li{
    height: 60px;
  }
  .guide_list li.item03, .guide_list li.item06,
  .guide_list li.item09, .guide_list li.item12{
    border-right: 1px solid #C0c0c0;
  }
  .guide_list li:nth-child(even){
    border-right: none;
  }
  .guide_list>li>a{
    font-size: 16px;
    padding: 10px;
    padding-right: 0px;
  }
  .guide_list>li>a>span{
    font-size: 14px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-right: 2px;
  }

  /* 푸터 */
  .footer_inner{
    height: 353px;
  } 
  .footer_nav ul li{
    margin-right: 26px;
  }
  .footer_nav ul li:last-child{
    margin-right: 0;
  }
  .footer_nav ul li a{
    font-size: 12px;
  }
  .footer_nav ul li a::after{
    height: 12px;
    right: -14px;
  }
  .footer_sns ul li{
    margin: 0 21.5px;
  } 
  .footer_sns ul li a em{
    transform: translate(-50%, -50%) scale(0.8);
    left: 50%;
  }
  .footer_site{
    height: 115px;
    flex-direction: column;
  }
  .footer_logo{
    margin-left: 0;
  }
  .family_site{
    margin-bottom: 13px;
  }
  #sel_family{
    text-indent: 6px;
    width: 80%;
    height: 40px;
    font-size: 12px;
  }
  .family_site #open_site{
    width: 25%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-indent: 6px;
  }
  .footer_info{
    align-items: normal;
    height: 138px;
    flex-direction: column;
    padding: 0;
    position: relative;
  }
  .footer_info .contect{
    margin-left: 5px;
    margin-top: 20px;
    font-size: 12px;
  }
  .footer_info .contect p{
    line-height: 16px;
  }
  .footer_info .contect p span{
    width: 52px;
  }
  .footer_info .footer_icon{
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}