@media (max-width:768px) {
  .inner{
    width: 100%;
  }
  /* 사이드바 */
  .side_bar{
    display: none;
  }
  #mini_go_to_top{
    display: block;
    position: fixed;
  }

  /* 헤더 */
  header{
    height: 70px;
    position: absolute;
    padding-top: 20px;
  }
  .link_on{
    display: none;
  }
  .header_menu h1{
    width: 258px;
    height: 70px;
    left: -3%;
  }
  header nav{
    display: none;
  }
  .overlay{width: 100%; height: 100%;}

  .mobile_menu_wrap{display: block;}

  /* 검색창 */
  .search-wrap{
    position: fixed;
    top: 70px;
    right: -600px;
    width: 70%;
    left: auto;
  }
  .search-wrap.active{
    position: absolute;
    top: 70px;
    right: 0px;
  }
  .search-cont{
    background-color: var(--orange);
    border-radius: 0 0 0 30px;
  }
  #topSearchForm{
    width: 90%;
    background-color: white;
    border: none;
  }
  input[name=searchKey]{
    width: 100%;
  }  


  /* 비주얼 */
  .visual{
    background-image: url(../images/main_ta.png);
    background-position: bottom;
  }
  .inner{
    width: 100%;
  }
  .visual_inner h2{
    transform: scale(0.6);
    top: 23.7%;
    left: -5%;
  }
  .ticket_box{
    left: 45%;
    top: 228px;
    transform: scale(0.9);
  }

  /* 추천코스 */
  .course{
    margin-top: 100px;
  }
  .course_inner{
    height: 236px;
  }
  .inner{
    width: 100%;
  }
  .course_btn ul{
    padding: 0 10px;
  }
  .course_btn ul li{
    width: 20%;
    display: flex;
    justify-content: space-around;
  }
  .course_btn ul li a{
    width: 120px;
    height: 120px;
  }
  .course_btn ul li a span{
    font-size: 24px;
    line-height: 120px;
  }
  /* 전시관 */
  .exhibition_inner{
    height: 316px;
  }
  .exhibition_slider{
    width: 80%;
    height: 200px;
  }
  .exhibition_slider .swiper-slide{
    width: 60%;
    height: 200px;
  }
  .exhibit_btn .exhibition-swiper-button-next,.exhibit_btn .exhibition-swiper-button-prev{
    transform: translateY(-50%) scale(0.875);
    top: -100px;
  }
  .exhibit_btn .exhibition-swiper-button-next::after,
  .exhibit_btn .exhibition-swiper-button-prev::after{
    transform: translate(-50%, -50%) scale(0.875);
  }


  /* 프로그램 */
  .program{
    margin-top: 130px;
  }
  .program_inner .headline-share h3{
    margin-top: 80px;
  }
  .program_inner .headline-share p{
    margin: 3px 0 36px 0;
  } 
  .program_slider{
    width: 100%;
    height: 420px;
  }
  .program_slider .swiper-wrapper{
    height: 420px;
  }
  .program_slider .swiper-wrapper .swiper-slide{
    width: 220px;
    height: 280px; 
  }
  
  .program-swiper-button-next{
    left: 80%;
  }
  .program-swiper-button-prev{
    left: 20%;
  }


  /* 알립니다 */
  .notice{
    margin-top: 120px;
    margin-bottom: 10px;
  }
  .notice_box_wrap{
    flex-direction: column;
  }
  .notice_box, .notice_tab, .notice_tab li a, .notice_tab_cont{
    width: 100%;
  }
  .notice_tab li{
    width: 33.3333%
  }
  .notice_list li a .text{
    width: 70%;
  }
  .card_box{
    margin-top: 55px;
    width: 100%;
  }
  .card_tab{
    width: 100%;
  }
  .card_tab li{
    width: 100%;
  }
  .card_tab li a{
    width: 100%;
  }
  .card_tab_cont{
    width: 100%;
  }
  .card_list li{
    width: 50%;
    padding: 28px 16px 30px 16px;
  }
  .card_list li a img{
    width: 100%;
    height: 160px;
  }
  .card_list li a h6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  /* 소통마당 */
  .communication{
    margin-top: 90px;
  }
  .contents_wrap{
    padding: 0px 20px;
  }
  .sns_wrap{
    width: 52%;
  }
  .sns_wrap .title p::after{
    width: 20%;
  }
  .sns_wrap .title .sns_btn{
    gap: 5px;
    background-color: var(--white);
    padding-left: 5px;
  }
  .sns_swiper_wrap{
    width: 100%;
    height: 190px;
  }
  .sns_slider{
    width: 82.5%;
    height: 100%;
    margin-left: 8.75%;
  }
  .sns_slider .swiper-wrapper{
  }
  .sns_slider .swiper-wrapper .swiper-slide{
    width: 41.25%;
    height: 190px;
  }
  .sns-swiper-button-prev,
  .sns-swiper-button-next{
    width: 8.75%;
    height: 190px;
  }
  .sns-swiper-button-prev::after,
  .sns-swiper-button-next::after{
    transform: translate(-50%, -50%) scale(0.821);
  }
  .sns_slider .swiper-slide a .content p,
  .sns_slider .swiper-slide a .content img{
    height: 120px;
    overflow: hidden;
  }
  .video_wrap{
    width: 45%;
  }
  .video_wrap .title{
    width: 100%;
    overflow: hidden;
  }
  .video_slider{
    width: 100%;
    height: 190px;
  }
  .video_slider .swiper-slide{
    width: 100%;
    height: 147px;
  } 



  /* 푸터 */
  .footer_sns ul{
    margin-left: 0;
  }
  .footer_sns ul li{
    margin: 0 50px;
  }
  .footer_sns ul li a{
    font-size: 0;
  }
  .footer_sns ul li a em{
    left: 0;
  }
  .footer_logo{
    margin-left: 20px;
  }
  .family_site{
    width: 40%;
    margin-right: 6px;
  }
  #sel_family{
    width: 80%;
  }
  .family_site #open_site{
    width: 20%;
  }
}


/* 320px */
@media (min-width:320px) and (max-width:420px) {
  /* 사이드바 */
  .side_bar{
    display: none;
  }
  #mini_go_to_top{
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
  }
  header{
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }

  /* 비주얼 */
  .headline-share h3{
    font-size: 28px;
  }
  .headline-share p{
    font-size: 14px;
    width: 85%;
  }
  .header_menu h1{
    width: 210px;
    height: 50px;
  }
  .header_menu h1 img{
    width: 100%;
    height: 100%;
  }
  .visual{
    background-image: url(../images/main_mo.png); 
    height: 720px;
    background-size: cover;
  }

  .visual_inner h2{
    left: 0;
    right: 0;
    top: 120px;
  }
  .ticket_box{
    transform: scale(0.8);
    left: 0;
    right: 0;
    top: 260px;
  }

  /* 추천코스 */
  .course_inner{
    height: 313px;
  }
  .course_btn ul{
    display: flex;
    flex-wrap: wrap;
  }
  .course_btn ul{
    padding: 0 5px;
    justify-content:center;
    gap: 10px;
  }
  .course_btn ul li{
    width: 96px;
    height: 96px;
  }
  .course_btn ul li a{
    height: 96px;
  }
  .course_btn ul li a span{
    font-size: 24px;
    line-height: 96px;
  }


  /* 전시관 */
  .exhibition{
    margin-top: 100px ;
  }
  .exhibition_inner{
  height: 230px;
  }
  .exhibition_slider{
    width: 70%;
    height: 124px;
  }
  .exhibition_slider .swiper-slide{
    width: 100%;
    height: 124px;
  }

  .exhibit_btn .exhibition-swiper-button-next,.exhibit_btn .exhibition-swiper-button-prev{
    transform: translateY(-50%) scale(0.6);
    top: -60px;
  }
  .exhibit_btn .exhibition-swiper-button-next::after,
  .exhibit_btn .exhibition-swiper-button-prev::after{
    transform: translate(-50%, -50%) scale(0.6);
  }
  .exhibition_slider .swiper-slide span{
    font-size: 12px;
    padding: 3px 10px;
  }
  

  /* 프로그램 */
  .program{
    height: 460px;
  }
  .program_inner{
    padding-top: 13px;
    height: 460px;
  }
  .program_inner::before{
    display: none;
  }
  .program_inner .headline-share h3{
    margin-top: 65px;
  }
  .program_inner .headline-share p{
    margin: 3px 0 6px 0;
  } 
  .background{
    width: 269px;
    height: 425px;
    background-size: cover;
    top: 13px;
  }
  .program_slider{
    padding-top: 0;
    width: 215px;
    height: 270px;
  }
  .program_slider .swiper-wrapper{
    height: 270px;
  }
  .program_slider .swiper-wrapper .swiper-slide{
    width: 215px;
    height: 270px; 
  }
  .program_slider .swiper-slide-active{
    transform: scale(1);
  }

  .program-swiper-button-next{
    transform: scale(.7);
    left:auto;
    right: 10px;
    top: 50%;
  }
  .program-swiper-button-prev{
    transform: scale(.7);
    left: 10px;
    top: 50%;
  }


  /* 알립니다 */
  .notice_box_wrap{
    padding: 0 10px;
  }
  .more_btn{
    right: 5px;
  }
  .notice_box{
    height: 211px;
  }
  .notice_tab_cont{
    height: 174px;
  }
  .notice_tab, .notice_tab li, .notice_tab li a{
    height: 37px;
  }
  .notice_tab li a{
    font-size: 16px;
    line-height: 37px;
  }
  .notice_list{
    height: 174px;
  }
  .notice_list li{
    padding: 16px 5px 19px 5px;
  }
  .notice_list li a{
    font-size: 14px;
    margin-bottom: 9px;
  }
  .notice_list li a .text{
    width: 55%;
  }
  .card_box{
    height: 190px;
  }
  .card_tab, .card_tab li, .card_tab li a{
    height: 37px;
  }
  .card_tab li a{
    font-size: 16px;
    line-height: 37px;
  }
  .card_tab_cont{
    height: 153px;
  }
  .card_list li{}
  .card_list li a{
    display: inline-block;
    width: 100%;
  }
  .card_list li{
    padding: 13px 6px 16px 6px;
  }
  .card_list li a img{
    width: 100%;
    height: 90px;
    border-radius: 10px;
  }
  .card_list li a h6{
    font-size: 14px;
    width: 100%;
  }


  /* 소통마당 */
  .contents_wrap{
    flex-direction: column;
  }
  .sns_wrap{ 
    width: 100%;
  }
  .sns_wrap .title p{
    font-size: 18px;
  }
  .sns_wrap .title p::after{
    left: 150px;
  }
  .sns_btn{

  }
  .sns_swiper_wrap{
    height: 180px;
  }
  .sns_slider{
    width: 80%;
    margin-left: 10%;
  }
  .sns_slider .swiper-wrapper .swiper-slide{
    width: 40%;
    height: 180px;
    padding: 10px;
  }
  .sns-swiper-button-prev,
  .sns-swiper-button-next{
    width: 10%;
    height: 180px;
  }
  .sns-swiper-button-prev::after,
  .sns-swiper-button-next::after{
    transform: translate(-50%, -50%) scale(0.7);
  }
  .sns_slider .swiper-slide a .title{
    font-size: 14px;
  }
  .sns_slider .swiper-slide a .title::before{
    transform: scale(0.8);
    margin-right: 5px;
  }
  .sns_slider .swiper-slide a .content p,
  .sns_slider .swiper-slide a .content img{
    width: 100%;
    height: 120px;
  }
  .video_wrap{
    width: 100%;
    overflow: hidden;
  }
  .video_wrap .title p::after{
    width: 300px;
  }
  .video_slider{
    width: 100%;
    height: 190px;
    padding: 15px 15px 29px 15px;
  }
  .video_slider .swiper-slide a img{
    width: 100%;
    height: 147px;
    object-position: bottom;
  }


  /* 푸터 */
  .footer_inner{
    height: 353px;
  } 
  .footer_nav ul li{
    margin-right: 26px;
  }
  .footer_nav ul li:last-child{
    margin-right: 0;
  }
  .footer_nav ul li a{
    font-size: 12px;
  }
  .footer_nav ul li a::after{
    height: 12px;
    right: -14px;
  }
  .footer_sns ul li{
    margin: 0 21.5px;
  } 
  .footer_sns ul li a em{
    transform: translate(-50%, -50%) scale(0.8);
    left: 50%;
  }
  .footer_site{
    height: 115px;
    flex-direction: column;
  }
  .footer_logo{
    margin-left: 0;
  }
  .family_site{
    margin-bottom: 13px;
  }
  #sel_family{
    text-indent: 6px;
    width: 217px;
    height: 40px;
    font-size: 12px;
  }
  .family_site #open_site{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-indent: 6px;
  }
  .footer_info{
    align-items: normal;
    height: 138px;
    flex-direction: column;
    padding: 0;
    position: relative;
  }
  .footer_info .contect{
    margin-left: 5px;
    margin-top: 20px;
    font-size: 12px;
  }
  .footer_info .contect p{
    line-height: 16px;
  }
  .footer_info .contect p span{
    width: 52px;
  }
  .footer_info .footer_icon{
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

@media (max-width:359px) {
  .visual_inner h2{
    left: -20%;
    right: 0;
    top: 120px;
  }
  .ticket_box{
    transform: scale(0.8);
    left: -10%;
    right: 0;
    top: 260px;
  }

}