/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* 프리텐다드 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 지마켓 산스 */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('../fonts/GmarketSansMedium.otf') format(opentype);
}
@font-face {
  font-family: 'GmarketSansBold';
  src: url('../fonts/GmarketSansBold.otf') format(opentype);
}
/* 변수 */
:root{
  --dark-black :#333333;
  --dim-black : #555555;
  --silver-black : #777777;
  --light-black : #999999;
  --dark-gray : #BDBDBD;
  --dim-gray : #DDDDDD;
  --silver-gray : #EEEEEE;
  --light-gray : #F5F5F5;
  --cloudy-gray : #F9F9F9;
  --white: white;
  --mainBlue : #164387;
  --orange : #FF8D23;
  --lightblue : #CCE3FF;
  --darkblue: #445164;
  --notice-ra: 20px 20px 0px 0px;
  --commu-ra: 0 20px 0 20px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4{margin: 0;}
a{text-decoration: none;}
ul, li{list-style: none;
margin: 0;}

/* layout */
body{
  width: 100%;
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 400;
}
.inner{
  width: 1280px;
  margin: 0 auto;
}


/* common */
.headline-share{
  text-align: center;
}
.headline-share h3{
  font-size: 32px;
  font-family: 'GmarketSansBold';
  color: var(--mainBlue);
}
.headline-share p{
  margin: 10px auto 30px auto;
  font-size: 16px;
  color: var(--dim-black);
  font-weight: 500;
}


/* 사이드 바 */
.side_bar{
  position: fixed;
  width: 120px;
  border-radius: 15px;
  top: 160px;
  right: 1%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  z-index: 19;
}
.side_bar_inner{
  display: flex;
  text-align: center;
  flex-direction: column;
}
.side_top{
  width: 120px;
  height: 50px;
  border-radius: 15px 15px 0 0;
  background-color: var(--orange);
  padding-top: 5px;
  margin: auto;
  color: var(--white);
}
.side_top span{
  font-size: 14px;
  font-family: 'GmarketSansMedium';
}
.side_top h3{
  font-size: 20px;
  font-family: 'GmarketSansBold';
}
.side_menu{
  width: 120px;
  height: 314px;
  background-color: var(--white);
}
.side_menu ul{
  margin: 20px 0;
}
.side_menu ul li{
  margin-bottom: 30px;
}
.side_menu ul li:last-child{
  margin-bottom: 0;
}
.side_menu ul li a{
  font-size: 16px;
  color: var(--dark-black);
  transition: .3s;
}
.side_menu ul li a:hover{
  font-weight: 600;
  color: var(--orange);
  /* border: 1px solid var(--orange); 
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 0 5px var(--orange);*/
}
.side_foot{
  width: 120px;
  height: 60px;
  border-radius: 0 0 15px 15px;
  position: relative;
  background-color: var(--white);
}
.side_foot::before{
  content: "";
  position: absolute;
  width: 110px;
  height: 1px;
  background-color: var(--dark-gray);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.side_foot a{
  line-height: 60px;
  color: var(--dark-black);
  position: absolute;
  top: 50%;
  left: 36px;
  transform: translateY(-50%);
  transition: .1s;
}
.side_foot a::after{
  position: absolute;
  content: "";
  background: url(../images/pin-top.svg) no-repeat 100%;
  width: 20px;
  height: 23px; 
  top: 50%;
  transform: translateY(-50%);
  transition: .1s;
}
.side_foot a:hover{
  font-weight: 600;
  color: var(--orange);
}
.side_foot a:hover::after{
  filter: invert(54%) sepia(92%) saturate(608%) hue-rotate(342deg) brightness(102%) contrast(101%);
}
#mini_go_to_top{
  display: none;
  opacity: 0;
  width: 60px;
  height: 60px;
  bottom: -5%;
  right: 1%;
  line-height: 60px;
  text-align: center;
  background-color: var(--mainBlue);
  color: var(--white);
  border-radius: 5px;
  font-size: 18px;
  transition: .2s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#mini_go_to_top.visible{
  opacity: 1;
  bottom: 4%;
}
#mini_go_to_top:hover{
  background-color: var(--orange);
  font-weight: 600;
}
/* 헤더, 서브메뉴 */
/**** header ****/
header{
  position: absolute;
  width: 100%;
  height: 90px;
  z-index: 30;
  transition: .5s;
  overflow: hidden;
}
.header_inner{}
.link_on{
  height: 40px;
}
.link_on ul{
  float: right;
  display: flex;
  line-height: 40px;
  gap: 21px;
}
.link_on ul li{
}
.link_on ul li a{
  color: white;
  font-weight: 200;
  transition: .3s;
}
.link_on ul li a:hover{
  font-weight: 800;
}
.header_menu{
  position: relative;
  height: 50px;
}
.header_menu h1{
  height: 80px;
  width: 294px;
  position: absolute;
  bottom: 0;
}
.header_menu h1 img{
  position: absolute;
  width: 294px;
  height: 80px;
  transition: .3s;
}
.header_menu h1 img.black_logo{
  display: none;
}
header nav{
  line-height: 50px;
  bottom: 0;
  position: absolute;
  left: 350px;
  width: 670px;
  height: 50px;
  transition: .3s;
}
header nav ul{
  display: flex;
  justify-content: space-between;
}
header nav ul li{}
header nav ul li a{
  padding: 12px 16px;
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  transition: .3s;
}
header .btn_box{
  display: inline-block;
  float: right;
  display: flex;
}
.search_btn{
  position: relative;
  width: 50px;
  height: 50px;
  background-color: var(--orange);
  cursor: pointer;
}
.search_btn a{
  position: absolute;
  display: block;
  width: 34px;
  height: 34px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/mingcute_search-line.png) no-repeat 100%;
  transition: .15s;
}

.search_btn.active a{
  background: url(../images/btn_x.svg) no-repeat 100%;
}
.search_btn:hover a, .site_map:hover a{
  
}
/* 헤더에 액티브 추가  */
header::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: white;
  top: 100px;
  left: 0;
  right: 0;
  z-index: -2;
  transition: .25s;
}
header.active::after{
  top: 0;
}
header.active .header_menu h1 img.white_logo{
  display: none;
}
header.active .header_menu h1 img.black_logo{
  display: block;
}
header.active .link_on ul li a{
  color: var(--dark-black);
}
header.active nav ul li a{
  color: color: var(--dark-black);;
}



.site_map{
  width: 50px;
  height: 50px;
  background-color: var(--mainBlue);
  position: relative;
  cursor: pointer;
}
.site_map a{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/hamburger.svg) no-repeat 100%;
  transition: .15s;
}
.site_map.active a{
  width: 30px;
  height: 30px;
  background: url(../images/btn_x.svg) no-repeat 100%;
}
/* 검색 */
.search-wrap{
  position: absolute;
  width: 100%;
  height: 110px;
  top: -150px;
  left: 0;
  z-index: 26;
  transition: .3s;
}
.search-wrap.active{
  top: 90px;
}
.search-cont{
  height: inherit;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2  );
}
#topSearchForm{
  padding: 5px 50px 5px 30px;
  border-radius: 30px;
  border: 2px solid var(--dark-black);
  position: relative;
}
input[name=searchKey]{
  padding: 10px;
  font-size: 16px;  
  border: none;
  width: 300px;
}
input[name=submit]{
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  cursor: pointer;
  background: url(../images/search_blue.svg) no-repeat center center;
}

/* submenu */
.sub_wrap{
  z-index: 30;
}
.submenu{
  padding-left: 100px;
  position: absolute;
  left: 0;
  top: 90px;
  z-index: 25;
  width: 100%;
  background: var(--white);
  overflow: hidden;
  max-height: 0;
  transition: .4s;
}
.submenu_cont{
  display: flex;
  width: 1100px;
  margin: auto;
}
.submenu_cont>div{
  flex: 1;
  padding-left: 30px;
  padding-bottom: 30px;
}
.submenu_cont div h3 em{
  display: inline-block;
  position: relative;
  font-size: 28px;
  font-weight: 700;
  margin-top: 23px;
  z-index: 10;
  font-style: normal;
  background-color: var(--white);
}
.submenu_cont div h3 em::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 14px;
  background-color: var(--lightblue);
  bottom: 0;
  left: 0;
  z-index: -1;
}

.submenu_cont>div:nth-of-type(1){
  border-right: 1px solid var(--light-black);
  position: relative;
}

.submenu_cont>div img{
  position: absolute;
  width: 141px;
  height: 110px;
  object-fit: cover;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

}
.submenu_cont div h4{
  width: inherit;
  margin-top: 30px;
  font-size: 18px;
  color: var(--dim-black);
  position: relative;
  transition: .2s;
}
.submenu_cont div h4::before{
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  background-color: var(--light-black);
  bottom: -2px;
  left: 0;
  transition: .2s;
}
.submenu_cont div h4::after{
  content: "";
  position: absolute;
  width: 7px;
  height: 13px;
  background: url(../images/mini_arrow.svg) no-repeat 100%;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  transition: .2s;
}
.submenu_cont div ul{
  margin-top: 16px;
}
.submenu_cont div ul li{
  margin-bottom: 12px;
}
.submenu_cont div ul li a{
  font-size: 15px;
  color: var(--silver-black);
  transition: .2s;
}
.submenu_cont div ul li a:hover{
  color: var(--mainBlue);
  text-decoration: underline;
  font-weight: 500;
}
.submenu_cont>div:hover h4{
  color: var(--mainBlue);
}
.submenu_cont>div:hover h4::before{
  background-color: var(--mainBlue);
}
.submenu_cont>div:hover h4::after{
  filter: invert(17%) sepia(41%) saturate(3394%) hue-rotate(204deg) brightness(96%) contrast(91%);
}

.overlay{
  display: none;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, .5);
  z-index: 20;
}
.overlay.active{
  display: block;
}

/* 모바일 */
.mobile_menu_wrap{
  z-index: 50;
  display: none;
  position: fixed;
  width: 70%;
  height: 100vh;
  top: 70px;
  right: -600px;
  transition: .3s;
  background-color: var(--mainBlue);
  border-radius: 0 0 0 70px;
}
.mobile_menu_wrap.active{
  position: absolute;
  right: 0;
}
.mo-login{
  padding-left: 20px;
  width: 100%;
  height: 60px;
  background-color: var(--orange);
}
.mo-login>a>span{
  font-size: 20px;
  color: var(--white);
  font-weight: 600;
  line-height: 60px;
  position: relative;
}
.mo-login>a>span::after{
  content: "";
  width: 20px;
  height: 20px;
  background: url(../images/lock-line.svg) 100% no-repeat;
  position: absolute;
  top: 50%;
  right: -23px;
  transform: translatey(-50%);
}
/* 메뉴 */
.mo-list>li>a{
  display: block;
  width: 100%;
  height: 60px;
  background-color: var(--mainBlue);
  position: relative;
  border-bottom: 1px solid var(--light-black);
}
.mo-list>li:last-of-type>a{
  border-bottom: none;
}
.mo-list>li>a::before{
  content: "";
  width: 20px;
  height: 2px;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.mo-list>li>a::after{
  content: "";
  width: 2px;
  height: 20px;
  background-color: var(--white);
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translate(-50%, -50%);
  transition: .3s;
}
.mo-list>li:hover>a::after{
  transform: translate(-50%, -50%) rotate(90deg);
}
.mo-list>li>a>span{
  padding-left: 20px;
  line-height: 60px;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  transition: .1s;
}
.mo-list>li>ul{

}
.mo-list>li>ul>li>a{
  width: 100%;
  height: 50px;
  background-color: var(--white);
  border-bottom: 1px solid  var(--dim-gray);
  display: block;
  position: relative;
}
.mo-list>li>ul>li>a>span{
  display: block;
  width: inherit;
  height: inherit;
  position: relative;
}

.mo-list>li>ul>li>a::after{
  content: "";
  width: 10px;
  height: 20px;
  background:url(../images/mini_arrow.svg) 100% no-repeat;
  position: absolute;
  top:50%;
  right: 15px;
  transform: translateY(-50%);
  transition: .3s;
}
/* 호버 */
.mo-list>li>ul>li:hover>a>span{
  color: var(--mainBlue);
}
.mo-list>li>ul>li:hover a::after{
  transform: translateY(-50%) rotate(90deg);
}
.mo-list>li>ul>li>a>span{
  padding-left: 20px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 400;
  color: var(--silver-black);
}
.mo-sub-list>li>a>span{
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 40px;
  line-height: 40px;
  background-color: var(--white);
  font-size: 16px;
  font-weight: 400;
  color: var(--silver-black);
  position: relative;
  transition: .1s;
}
.mo-sub-list>li:last-of-type>a>span{
  border-bottom: 1px solid var(--dim-gray);
}
.mo-sub-list>li>a>span::before{
  content: " ";
  width: 3px;
  height: 3px;
  display: block;
  background-color: var(--silver-black);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
/* 호버 */
.mo-sub-list>li>a:hover>span{
  color: var(--mainBlue);
}
/* 서브메뉴. 서브서브메뉴 숨기기 */
.mo-list ul, .mo-sub-list { 
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease;
}


/* 비주얼 */
/**** visual ****/
.visual{
  width: 100%;
  height: 700px;
  background-image: url(../images/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  position: relative;
  overflow: hidden;
}
.visual_inner{
}
.visual_inner h2{
  position: absolute;
  width: 486px;
  height: 186px;
  background: url(../images/main_text.png) no-repeat 100%;
  bottom: 248px;
  left: 437px;
}
.ticket_box{
  position: absolute;
  top: 137px;
  left: 1100px;
  width: 408px;
  height: 480px;
  color: var(--dark-black);
}
.ticket_box::before{
  position: absolute;
  content: "";
  background: url(../images/ticket.png) no-repeat 100%;
  width: 408px;
  height: 480px;
}
.ticket_box::after{
  position: absolute;
  content: "";
  background: url(../images/calender.svg) no-repeat 100%;
  width: 71px;
  height: 62px;
  top: 62px;
  left: 253px;
}
.ticket_01{
  position: absolute;
  width: 150px;
  height: 150px;
  top: 45px;
  left: 65px;
}
.ticket_01 p{
  font-size: 20px;
}
.ticket_01 h5{
  font-family: 'GmarketSansBold';
  font-size: 35px;
  text-indent: 8px;
  margin-top: 3px;
}
.ticket_01 h5 span{
  color: var(--orange);
}
.ticket_01 a{
  margin-top: 23px;
  position: absolute;
  font-size: 16px;
  color: var(--dark-black);
  display: flex;
  align-items: center;
}
.ticket_01 a::before{
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  background: url(../images/mingcute_comment-line.png) no-repeat 100%;
}
.ticket_01 a:hover{
  font-weight: 700;
  text-decoration: underline;
}
.ticket_02{
  position: absolute;
  top: 200px;
  left: 72px;
  width: 310px;
}
.ticket_02 .main_info{
}
.ticket_02 .main_info li{
  margin-bottom: 16px;
}
.ticket_02 .main_info li span{
  padding-right: 35px;
}
.ticket_02 .main_info li b{
  font-family: 'GmarketSansBold';
  font-size: 24px;
}
.ticket_02 .main_info li em.small{
  display: block;
  font-size: 20px;
  font-style: normal;
  margin: 10px 0 0 93px;
}
.ticket_02 .main_info li em.monday{
  font-style: normal;
  padding-left: 19px;
}
.ticket_02 .main_info li.holiday{
  color: var(--orange);
  font-size: 14px;
}
.ticket_03{
  position: absolute;
  width: 340px;
  height: 85px;
  background-color: var(--orange);
  top: 355px;
  left: 34px;
  overflow: hidden;
}
.ticket_03 ul{
  width: 340px;
  height: 85px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  
}
.ticket_03 ul li{
  display: inline-block;
  line-height: 85px;
  flex: 1;
}
.ticket_03 ul li a{
  padding: 30px 0;
  font-size: 16px;
  color: var(--white);
  position: relative;
}
.ticket_03 ul li a::after{
  content: " ";
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: var(--white);
  left: 84px;
  top: 32px;
}
.ticket_03 ul li:last-child a::after{
  content: none;
}
.ticket_03 ul li:hover a{
  font-weight: bold;
}

/* 추천코스 */
/**** course ****/
.course{
  margin-top: 120px;
}
.course_inner{
  height: 330px;
}
.course_btn{}
.course_btn ul{
  display: flex;
  justify-content: space-between;
}
.course_btn ul li a{
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.course_btn ul li a span{
  position: absolute;
  font-family: 'GmarketSansBold';
  font-size: 32px;
  color: var(--white);
  text-align: center;
  line-height: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.course_btn ul li:nth-child(1) a{
  background: url(../images/mcon2_bg1.png) no-repeat 100%;
  background-size: cover;
}
.course_btn ul li:nth-child(2) a{
  background: url(../images/mcon2_bg2.png) no-repeat 100%;
  background-size: cover;
}
.course_btn ul li:nth-child(3) a{
  background: url(../images/mcon2_bg3.png) no-repeat 100%;
  background-size: cover;
}
.course_btn ul li:nth-child(4) a{
  background: url(../images/mcon2_bg4.png) no-repeat 100%;
  background-size: cover;
}
.course_btn ul li:nth-child(5) a{
  background: url(../images/mcon2_bg5.png) no-repeat 100%;
  background-size: cover;
}
.course_btn ul li a::before{
  position: absolute;
  content: "";
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #164387;
  transition: .4s;
}
.course_btn ul li:hover a::before{
  transform: translate(-50%, -50%) scale(1);
}



/* 전시관 */

/**** exhibition ****/
.exhibition{
  margin-top: 130px;
}
.exhibition_inner{
  height: 350px;
}
.exhibition_inner headline-share{
  margin-top: 10px;
  margin-bottom: 30px;
}

.exhibition_slider{
  position: relative;
  width: 1110px;
  margin: 0 auto;
  overflow: hidden;
}
.exhibition_slider .swiper-wrapper{
  display: flex;
}
.exhibition_slider .swiper-slide{
  position: relative;
  width: 360px;
  height: 230px;
  border-radius: 20px;
}
.exhibition_slider .swiper-slide a{
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  width: inherit;
  height: inherit;
}
.exhibition_slider .swiper-slide img{
  width: inherit;
  height: inherit;
  transition: .3s;
  background-size: auto;
  
}
.exhibition_slider .swiper-slide span{
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  color: var(--white);
  padding: 5px 15px;
  background-color: var(--dim-black);
  border-radius: 14.5px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: .3s;
  white-space: nowrap;
}
/* 호버 */
.exhibition_slider .swiper-slide:hover img{
  transform: scale(1.2);
}
.exhibition_slider .swiper-slide:hover span{
  font-weight: 600;
}
/* 버튼 */
.exhibit_btn{
  position: relative;
}
.exhibit_btn .exhibition-swiper-button-next{
  right: 2%;
  top: -110px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--mainBlue);
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
}
.exhibit_btn .exhibition-swiper-button-next::after{
  content: '';
  position: absolute;
  display: inline-block;
  background: url(../images/arrow-right.svg) no-repeat 100%;
  background-size: cover;
  width: 14px;
  height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.exhibit_btn  .exhibition-swiper-button-prev{
  left: 2%;
  top: -110px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--mainBlue);
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
}
.exhibit_btn  .exhibition-swiper-button-prev::after{
  content: '';
  position: absolute;
  display: inline-block;
  background: url(../images/arrow-left.svg) no-repeat 100%;
  width: 14px;
  height: 25px;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/* 프로그램 */

.program{
  margin-top: 160px;
  height: 900px;
  position: relative;
  overflow: hidden;
}
.program::before{
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: inherit;
  background-color: #C8E2FF;
  z-index: -6;
}
.program>img{
  position: absolute;
  z-index: -5;
}
.program>img:nth-of-type(1){
  top: 98px;
  left: -229px;
  animation: toright 60s infinite ;
}
.program>img:nth-of-type(2){
  top: 65px;
  right: -40px;
  animation: toleft 60s infinite 2s;
}
.program>img:nth-of-type(3){
  bottom: -130px;
  right: -120px;
  animation: toleft 60s infinite;
}
@keyframes toright {
  0%, 100% {transform: translateX(0);}
  50% {transform: translateX(200px);}
}
@keyframes toleft {
  0%, 100% {transform: translateX(0);}
  50% {transform: translateX(-200px);}
}

.program_inner{ 
  padding-top: 100px;
  position: relative;
  height: 700px;
}
.program_inner::before{
  display: block;
  content: "";
  width: inherit;
  height: 700px;
  background-color: var(--white);
  opacity: .5;
  position: absolute;
  z-index: -4;
  border-radius: 20px;
}
.program_inner .headline-share{}
.program_inner .headline-share h3{
  margin-top: 98px;
}
.program_inner .headline-share p{
  margin: 3px 0 18px 0;
} 
.background{
  background: url(../images/window.png) no-repeat 100%;
  width: 416px;
  height: 657px;
  z-index: -3;
  position: absolute;
  top: 116px;
  left: 50%;
  transform: translateX(-50%);
}

/* 프로그램 스와이퍼 */
.program_slider{
  padding-top: 12px;
  margin: 40px auto 0 auto;
  width: 1280px;
  height: 430px;
  overflow: hidden;
  position: relative;
} 
.program_slider .swiper-wrapper{
  display: flex;
  align-items: center;
  height: 400px;
}
.program_slider .swiper-wrapper .swiper-slide{
  width: 220px;
  height: 280px; 
  transition: transform 0.3s ease;
}
.program_slider .swiper-wrapper .swiper-slide a{
  display: block;
  width: inherit;
  height: inherit;
}
.program_slider .swiper-wrapper .swiper-slide a img{
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}
/* 추가코드 */
.program_slider .swiper-slide-active{
  z-index: 10; 
  transform: scale(1.4);
  position: relative;
}

.program-swiper-button-next{
  right: 408px;
  top: 70%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--mainBlue);
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}
.program-swiper-button-next::after{
  content: '';
  position: absolute;
  display: inline-block;
  background: url(../images/arrow-right.svg) no-repeat 100%;
  background-size: cover;
  width: 17px;
  height: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.program-swiper-button-prev{
  left: 406px;
  top: 70%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
  border: 2px solid var(--mainBlue);
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}
.program-swiper-button-prev::after{
  content: '';
  position: absolute;
  display: inline-block;
  background: url(../images/arrow-left.svg) no-repeat 100%;
  background-size: cover;
  width: 17px;
  height: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 알립니다 */

.notice{
  margin-top: 150px;
}
.notice_inner{}
.notice_inner .headline-share{
  padding-top: 10px;
}
.notice_box_wrap{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.more_btn{
  bottom: 6px;
  right: 20px;
  position: absolute;
  float: right;
  color: var(--dark-gray);
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}
.more_btn:hover{
  text-decoration: underline;
  color: var(--light-black);
}
/* 알림 */
.notice_box{
  outline: 1px solid var(--dark-gray) ;
  width: 600px;
  height: 322px;
  border-radius: var(--notice-ra);
}
.notice_tab{
  display: flex;
  width: 600px;
  height: 60px;
  background-color: var(--dim-gray);
  border-radius: var(--notice-ra);
}
.notice_tab li{

}
.notice_tab li a{
  text-align: center;
  line-height: 60px;
  display: inline-block;
  width: 200px;
  height: 60px;
  color: var(--dim-black);
  font-size: 20px;
  position: relative;
  transition: .2s;
}
.notice_tab li a::after{
  display: none;
  content: "";
  width: 24px;
  height: 26px;
  background: url(../images/polygon.svg) no-repeat 100%;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  transition: .2s;
  z-index: 1;
}
.notice_tab li a:hover{
  text-decoration: underline;
}
.notice_tab li a.active{
  background-color: var(--mainBlue);
  color: var(--white);
  font-weight: 800;
  border-radius: var(--notice-ra);
}
.notice_tab li a.active::after{
  display: block;
}
.notice_tab_cont{
  border-top: 1px solid var(--dark-gray) ;
  position: relative;
  width: 600px;
  height: 262px;
  display: none;
}
.notice_tab_cont.active{
  display: block;
}
.notice_list{}
.notice_list li{
  padding: 28px 20px 18px 20px;
}
.notice_list li a{
  display: block;
  margin-bottom: 22px;
}
.notice_list li a .text{
  display: inline-block;
  width: 380px;
  color: var(--dim-black);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.notice_list li a .date{
  float: right;
  color: var(--silver-black);
}
/* 호버 */
.notice_list li a:hover .text, .notice_list li a:hover .date{
  color: var(--mainBlue);
  font-weight: 600;
}

/* 카드 */
.card_box{
  outline: 1px solid var(--dark-gray) ;
  width: 600px;
  height: 322px;
  border-radius: var(--notice-ra);
}
.card_tab{
  display: flex;
  width: 600px;
  height: 60px;
  background-color: var(--dim-gray);
  border-radius: var(--notice-ra);
}
.card_tab li{}
.card_tab li a{
  text-align: center;
  line-height: 60px;
  display: inline-block;
  width: 300px;
  height: 60px;
  color: var(--dim-black);
  font-size: 20px;
  position: relative;
  transition: .1s;
}
.card_tab li a::after{
  display: none;
  content: "";
  width: 24px;
  height: 26px;
  background: url(../images/polygon.svg) no-repeat 100%;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  transition: .1s;
  z-index: 1;
}
.card_tab li a:hover{
  text-decoration: underline;
}
.card_tab li a.active{
  background-color: var(--mainBlue);
  color: var(--white);
  font-weight: 800;
  border-radius: var(--notice-ra);
}
.card_tab li a.active::after{
  display: block;
}
.card_tab_cont{
  border-top: 1px solid var(--dark-gray) ;
  position: relative;
  width: 600px;
  height: 262px;
  display: none;
}
.card_tab_cont.active{
  display: block;
}
.card_list{
  display: flex;
}
.card_list li{
  padding: 28px 16px 78px 16px;
}
.card_list li a{
}
.card_list li a img{
  object-fit: cover;
  width: 270px;
  height: 160px;
  border-radius: 20px;
}
.card_list li a h6{
  font-size: 16px;
  color: var(--dim-black);
}
.card_list li a span{
  font-size: 14px;
  color: var(--silver-black);
}
/* 호버 */
.card_list li:hover a h6,
.card_list li:hover a span{
  color: var(--mainBlue);
}
.card_list li:hover a h6{
  font-weight: 900;
}
.card_list li:hover a span{
  font-weight: 600;
}
.card_list li:hover a img{
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}



/* 소통마당 */

/* communication */
.communication{
  margin-top: 105px;
}
.communication_inner{
  position: relative;
}
.communication_inner .headline-share{

}
.contents_wrap{
  display: flex;
  padding: 0px 45px;
  justify-content: space-between;
}
.sns_wrap{
  width: 820px;
  height: 254px;
}
.sns_wrap>.title{
  display: flex;
  margin-bottom: 20px;
  position: relative;
}
.sns_wrap .title p{
  font-family: 'GmarketSansBold';
  font-size: 20px;
  color: var(--silver-black);

  line-height: 28px;
}
.sns_wrap .title p span{
  color: var(--mainBlue);
}
.sns_wrap .title p::after{
  content: " ";
  position: absolute;
  top: 11px;
  left: 166px;
  display: inline-block;
  width: 508px;
  height: 1px;
  background-color: var(--light-black);
}
.sns_wrap .title .sns_btn{
  right: 0;
  position: absolute;
  display: flex;
  gap: 8px;

}
.sns_wrap .title .sns_btn a{
  position: relative;
}
.sns_btn .blog_btn{
  background: url(../images/sns_icon.png) 100% no-repeat;
  width: 28px;
  height: 28px;
  background-position: 0px 0px;
  
}
.sns_btn .instagram_btn{
  background: url(../images/sns_icon.png) 100% no-repeat;
  width: 28px;
  height: 28px;
  background-position: -56px 0px;
}
.sns_btn .facebook_btn{
  background: url(../images/sns_icon.png) 100% no-repeat;
  width: 28px;
  height: 28px;
  background-position: -112px 0px;
}
.sns_btn .twitter_btn{
  background: url(../images/sns_icon.png) 100% no-repeat;
  width: 28px;
  height: 28px;
  background-position: -168px 0px;
}
/* 슬라이더 */
.sns_swiper_wrap{
  width: 820px;
  height: 210px;
  outline: 1px solid var(--dark-gray);
  position: relative;
  border-radius: var(--commu-ra);
}
.sns_slider{
  margin-left: 50px;
  width: 720px;
  height: 210px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
}
.sns_slider .swiper-wrapper{
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease; 
}
.sns_slider .swiper-wrapper .swiper-slide{
  width: 180px;
  padding: 15px;
  height: 210px;
  border-left: 1px solid var(--dark-gray);
  transition: transform 0.3s ease;
}
.sns_slider .swiper-wrapper .swiper-slide-active{
  border-left: none;
}
.sns-swiper-button-prev{
  position: absolute;
  width: 50px;
  height: 210px;
  border-right: 1px solid var(--dark-gray);
  border-radius: 0 0 0 20px;
  background-color: var(--cloudy-gray);
  cursor: pointer;
  left: 0;
  top: 0;
}
.sns-swiper-button-prev::after{
  content: "";
  width: 16px;
  height: 27px;
  background-image: url(../images/arrow-left.svg);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sns-swiper-button-next{
  position: absolute;
  width: 50px;
  height: 210px;
  border-left: 1px solid var(--dark-gray);
  border-radius: 0 20px 0 0;
  background-color: var(--cloudy-gray);
  cursor: pointer;
  top: 0;
  right: 0;
}
.sns-swiper-button-next::after{
  content: "";
  width: 16px;
  height: 27px;
  background-image: url(../images/arrow-right.svg);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 슬라이드 컨텐츠 */
.sns_slider .swiper-slide a .title{
  display: flex;
  align-items: center;
  color: var(--silver-black);
  margin-bottom: 10px;
}
.sns_slider .swiper-slide a .title::before{
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
.sns_slider .swiper-slide a .title.blog::before{
  background-image: url(../images/sns_icon.png);
  background-position: -28px 0px;
}
.sns_slider .swiper-slide a .title.instagram::before{
  background-image: url(../images/sns_icon.png);
  background-position: 140px 0px;
}
.sns_slider .swiper-slide a .title.facebook::before{
  background-image: url(../images/sns_icon.png);
  background-position: 84px 0px;
}
.sns_slider .swiper-slide a .title.twitter::before{
  background-image: url(../images/sns_icon.png);
  background-position: 28px 0px;
}

.sns_slider .swiper-slide a .content{
  overflow: hidden;
}
.sns_slider .swiper-slide a .content p{
  width: 100%;
  height: 130px;
  color: var(--silver-black);
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sns_slider .swiper-slide a .content img{
  width: 150px;
  height: 142px;
  object-fit: cover;
  object-position: center;
}


.video_wrap{
  width: 324px;
  height: 252px;
}
.video_wrap .title{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.video_wrap .title p{
  font-family: 'GmarketSansBold';
  font-weight: bold;
  font-size: 20px;
  color: var(--silver-black);
  line-height: 28px;
}
.video_wrap .title p span{
  color: var(--mainBlue);
}
.video_wrap .title p::after{
  content: " ";
  position: absolute;
  top: 11px;
  left: 166px;
  display: inline-block;
  width: 158px;
  height: 1px;
  background-color: var(--light-black);
}
.video_slider{
  padding: 16px 24px 39px 24px;
  position: relative;
  width: 324px;
  height: 210px;
  border-radius: var(--commu-ra);
  border: 1px solid var(--dark-gray);
  overflow: hidden;
}
.video_slider .swiper-wrapper{
  display: flex;
}
.video_slider .swiper-slide{
  width: 276px;
  height: 155px;
  transition: transform 0.3s ease;
} 
.video_slider .swiper-slide a{
  width: inherit;
  height: inherit;
  display: inline-block;
  overflow: hidden;
} 
.video_slider .swiper-slide a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

:root {
  --swiper-pagination-color: var(--mainBlue);
  --swiper-pagination-bullet-size: 7px;
  --swiper-pagination-bullet-width: 7px;
  --swiper-pagination-bullet-height: 7px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;

}
.video-swiper-pagination{
  text-align: center;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* Bullets */
.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
  background: var(--mainBlue);
  opacity: 0.3;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
          appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--mainBlue);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}



/* 푸터 */
footer{
  margin-top: 60px;
  width: 100%;
  background-color: var(--darkblue);
}
.footer_inner{
  height: 310px;
  margin: 0 auto;
}
.footer_nav{
  height: 50px;
}
.footer_nav ul{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_nav ul li{
  margin-right: 32px;
}
.footer_nav ul li:last-child{
  margin-right: 0;
}
.footer_nav ul li a{
  color: var(--dim-gray);
  font-size: 18px;
  position: relative;
}
.footer_nav ul li a::after{
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: -16px;
  background-color: var(--dim-gray);
  transform: translateY(-50%);
}
.footer_nav ul{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_nav ul li{
  margin-right: 32px;
}
.footer_nav ul li:last-child{
  margin-right: 0;
}
.footer_nav ul li:last-child a::after{
  content: none;
}
.footer_nav ul li a{
  color: var(--dim-gray);
  font-size: 18px;
  position: relative;
}
.footer_nav ul li a::after{
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: -16px;
  background-color: var(--dim-gray);
  transform: translateY(-50%);
}
.footer_nav ul li a:hover{
  text-decoration: underline;
}

.footer_sns{
  height: 50px;
}
.footer_sns ul{
  display: flex;
  justify-content: center;
  margin-left: 45px;
} 
.footer_sns ul li{
  margin-right: 110px;
} 
.footer_nav ul li:last-child{
  margin-right: 0;
}
.footer_sns ul li a{
  position: relative;
  line-height: 50px;
  color: var(--dim-gray);
  font-size: 18px;
} 
.footer_sns ul li a em{
  position: absolute;
  top: 50%;
  left: -45px;
  transform: translateY(-50%);
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url(../images/sns_icon.png) 100%;
}
.footer_sns ul li:nth-of-type(1) a em{
  background-position: 0px 35px;
}
.footer_sns ul li:nth-of-type(2) a em{
  background-position: -35px 35px;
}
.footer_sns ul li:nth-of-type(3) a em{
  background-position: -70px 35px;
}
.footer_sns ul li:nth-of-type(4) a em{
  background-position: -105px 35px;
}
.footer_sns ul li:nth-of-type(5) a em{
  background-position: -140px 35px;
}
.footer_sns ul li a:hover{
  text-decoration: underline;
}
.footer_site{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dim-gray);
}
.footer_logo{}
.family_site{
  display: flex;
  flex-direction: row;
}
#sel_family{
  width: 235px;
  height: 50px;
  font-size: 16px;
  font-family: 'Pretendard';
  background-color: var(--darkblue);
  color: var(--dim-gray);
  border: 1px solid var(--light-gray);
  border-right: none;
  border-radius: 20px 0 0 20px;
}
#sel_family:focus{
  outline: none;
}
.family_site #open_site{
  color: var(--dim-gray);
  line-height: 50px;
  display: inline-block;
  text-indent: 8px;
  width: 48px;
  height: 50px;
  border: 1px solid var(--light-gray);
  border-radius: 0 20px 20px 0;
  transition: .3s;
  white-space: nowrap;
}
.family_site #open_site:hover{
  background-color: var(--light-gray);
  color: var(--darkblue);
}

.footer_info{
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.footer_info .contect{
  color: var(--dim-gray);
}
.footer_info .contect p{
  line-height: 24px;
}
.footer_info .contect p span{
  display: inline-block;
  width: 92px;
}


.footer_info .footer_icon{
  float: right;
}
.footer_info .footer_icon img{
  width: 87px;
  height: 59px;
  object-fit: cover;
}


/* 포인터 */
.pointer{
  position: relative;
}
.pointer::after{
  content: '';
  width: 21px;
  height: 22px;
  background: url(../images/pointer.png) 100% no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  right: -5px;
  animation: point 1.5s infinite;
  transform: translate(-50%, -50%);
}
.submenu_cont ul li:nth-child(4).pointer::after{
  top: 85%;
  right: 32%;
  transform: translate(-50%, -50%);
  animation: none;
}
.submenu_cont ul li:nth-child(1).pointer::after{
  top: 85%;
  right: 54%;
  transform: translate(-50%, -50%);
  animation: none;
}
@keyframes point {
  0% , 100%{transform: translate(0, 0);}
  50% {transform: translate(-10px, -10px);}
}
em.pointer::after{
top: 85%;
  right: -20px;
}